<!--service start-->
<section id="service" class="service">
    <div class="container">

        <div class="service-counter text-center">

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img src="../../assets/images/service/s1.png" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                            Choose amazing tour packages
                            </a>
                        </h2>
                        <p>Must use our tour Planner for breathtaking tour packages!</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img src="../../assets/images/service/s2.png" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                                book top class hotel
                            </a>
                        </h2>
                        <p>This amazing site helps you book the best hotels all around the world!</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="statistics-img">
                        <img src="../../assets/images/service/s3.png" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">

                        <h2>
                            <a href="#">
                                online flight booking
                            </a>
                        </h2>
                        <p>Book your flight instantly using TourNest!</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

        </div><!--/.statistics-counter-->	
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->
