<!--discount-offer start-->
<section class="discount-offer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="dicount-offer-content text-center">
                    <h2>Join with us within 7 March, 2019 and get upto 40% Discount</h2>
                    <div class="campaign-timer">
                        <div id="timer">
                            <div class="time time-after" id="days">
                                <span></span>
                            </div><!--/.time-->
                            <div class="time time-after" id="hours">

                            </div><!--/.time-->
                            <div class="time time-after" id="minutes">

                            </div><!--/.time-->
                            <div class="time" id="seconds">

                            </div><!--/.time-->
                        </div><!--/.timer-->
                    </div><!--/.campaign-timer-->
                    <div class="about-btn">
                        <button  class="about-view discount-offer-btn">
                            join now
                        </button>
                    </div><!--/.about-btn-->


                </div><!-- /.dicount-offer-content-->
            </div><!-- /.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section><!-- /.discount-offer-->
<!--discount-offer end-->
