<div class="main-form panel panel-default">
  <div class="main-form__section main-form__section--body">
    <h2 class="section-title section-title--tiny section-title--blue">
      <b>Contact Details</b>
      <br>
    </h2>
    <div class="main-form__row">

      <div class="form-line">
        <div class="input-block  input-block_animated">
          <input type="text" name="first_name" autocomplete="off" value="">
          <span class="input-block__placeholder">
            First Name
          </span>
        </div>
      </div>

      <div class="form-line">
        <div class="input-block  input-block_animated">
          <input type="text" name="last_namet" autocomplete="off" value="">
          <span class="input-block__placeholder">
            Last Name
          </span>
        </div>
      </div>

      <div class="form-line">
        <div class="input-block  input-block_animated">
          <input type="email" name="email" autocomplete="off" value="">
          <span class="input-block__placeholder">
            Email
          </span>
        </div>
      </div>

      <div class="form-line">
        <div class="input-block  input-block_animated">
          <input type="tel" name="telephone" autocomplete="off" value="">
          <span class="input-block__placeholder">
            Phone Number
          </span>
        </div>
      </div>

    </div>
  </div>

  <div class="main-form__section main-form__section--footer">
    <div class="main-form__row">
      <div class="column">
        <button id="HCIBtnPrevStep1" type="button" class="btn btn-shadow secondary" (click)="previous()" >
          Back
        </button>
      </div>
      <div class="column text-right">
        <button id="HCIBtnNextStep1" type="button" class="btn btn-shadow primary" (click)="next()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
