<div class="payment-methods">
    <p class="payment-methods-title">Payment Methods</p>
    <form>
        <div class="row">
            <div class="col">
                <img src="/assets/images/credit_card.png" alt="cars" class="center-image">
                <input type="radio" name="payment" class="center" [checked]="creditCard" (click)="setCreditCard(true)">
            </div>
            <div class="col">
                <img src="/assets/images/cash.png" alt="cars" class="center-image">
                <input type="radio" name="payment" class="center" [checked]="!creditCard" (click)="setCreditCard(false)">
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-dark next-btn" routerLink="/rent/result" (click)="sendPaymentMethod()">
                NEXT &nbsp;&nbsp;
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </div>
    </form>
    <img src="/assets/images/cars.png" alt="cars" class="center">
</div>
