<div class="big_title">
  Welcome to contactless travel !
</div>
<div class="main-form panel panel-default">
  <div class="main-form__section main-form__section--body">
    <h2 class="section-title section-title--tiny section-title--blue">
      <b class="titre"> Payment details</b>
    </h2>
    <div class="main-form__row">
      <div class="form-line">
        <div class="order-table order-table--form">
          <div class="order-table__body">
            <div class="order-table__row r-row text-big">
              <div class="order-table__column r-column r-column-6 color--primary">
                <b>Package price</b>
              </div>
              <div class="order-table__column r-column r-column-6 color--primary text-right text-up summary_price">
                <b>249 dt</b>
              </div>
            </div>
            <div class="order-table__row r-row">
              <div class="order-table__column r-column r-column-6">
                5 % vat
              </div>
              <div class="order-table__column r-column r-column-6 text-up text-right summary_price">
                12.45 dt
              </div>
            </div>
          </div>
          <div class="order-table__footer">
            <div class="order-table__row r-row r-row--j-end">
              <div class="order-table__column r-column r-column-12 line-up r-column-sm-12">
                <div class="order-table__row r-row">
                  <div class="order-table__column r-column r-column-6">
                    Total price:
                  </div>
                  <div class="order-table__column r-column r-column-6 text-right color--primary text-up text-big summary_price">
                    <b>261.45 dt</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-line">
        <div class="text-line text-line--header color--primary">
            <b class="titre"> How would you like to pay?</b>
        </div>

        <div class="radio-group radio-group--payment radio-group--blue">
          <div class="form-line form-line--radio form-line-12">
            <input type="radio" id="payment-group_0" name="payment-group" value="credit_card">
            <label for="payment-group_0" class="label-radio label-radio--bg">
              <span class="point-item point-item--square"></span>
              <span>Credit Card</span>
            </label>
          </div>
          <div class="form-line form-line--radio form-line-12">
            <input type="radio" id="payment-group_1" name="payment-group" value="cash" checked="">
            <label for="payment-group_1" class="label-radio label-radio--bg">
              <span class="point-item point-item--square"></span>
              <span>Cash on Pick up</span>
            </label>
          </div>
        </div>
      </div>
      <div class="line--separator">

      </div>
      <div class="form-line">
        <div class="text-line text-line--header color--primary">
          <b class="titre">How did you hear about our service?</b>
        </div>
        <div class="recognition-select">
          <div class="select-block select-block_animated">
            <div class="select-block__inner">
              <select name="recognition_select" class="select-block__select" data-meta-value="">
                <option value="" disabled="">Choose option</option>
                <option value="Social Media" customvalue="Social Media">Social Media</option>
                <option value="Airline/Airport" customvalue="Airline/Airport">Airline/Airport</option>
                <option value="Hotels" customvalue="Hotels">Hotels</option>
                <option value="Google search" customvalue="Google search">Internet Search</option>
                <option value="Other" customvalue="Other">Other</option>
              </select>
              <span class="select-block__placeholder">Choose option</span>
              <span class="select-block__value"></span>
              <span class="select-block__icon">
                <svg class="svg-icon" viewBox="0 0 500 500" width="100%" height="100%">
                  <path d="M250,397c-8.8,0-17.6-3.5-24.3-10.6L15.1,164.7c-13.4-14.1-13.4-37,0-51.1c13.4-14.1,35.1-14.1,48.5,0				L250,309.8l186.4-196.2c13.4-14.1,35.1-14.1,48.5,0c13.4,14.1,13.4,37,0,51.1L274.3,386.4C267.6,393.5,258.8,397,250,397z"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="line--separator">

        </div>
      </div>
    </div>
  </div>
  <div class="main-form__section main-form__section--footer">
    <div class="main-form__row">
      <div class="column">
        <button id="HCIBtnPrevStep1" type="button" class="btn btn-shadow secondary" (click)="previous()" >
          Back
        </button>
      </div>
      <div class="column text-right">
        <button id="HCIBtnNextStep1" type="button" class="btn btn-shadow primary" >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
