<table class="about" >
    <tr>
        <td class="about-left-side">
            <p class="about-title title-color">More Than 20 years of Experience</p>
            <p class="about-subtitle">Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset</p>
            <hr class="about-hr" size="10">
            <p class="about-text">Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu, eu melius constituam sit. Et nam soleat accusamus. Vim hinc aeque viderer no, ei aeque viris euismod quo. Id qui altera equidem.</p>
        </td>

        <td class="about-right-side"><img src="/assets/images/airlines/about-sidebar.png" class="about-image"></td>
    </tr>
</table>
