<div class="reviews">
    <hr class="reviews-hr" size="10">
    <p class="review-title">REVIEWS</p>
    <p class="review-slogan">Wherever you go, go with all your heart.</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="review-text">“The trip to Belgium was wonderful”</p>
            <p class="review-details">Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu.</p>
            <p class="review-author">Steven & Anna</p>
          </div>
          <div class="carousel-item">
            <p class="review-text">“Best flying experience ever”</p>
            <p class="review-details">Fantastic Experience with potential for growth</p>
            <p class="review-author">Harry & Sam</p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
