@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.navbar-item{
    font-family: "Heebo";
    font-size: 14px;
    align-self:center;
    font-weight: bolder;
    padding: 10px;
    color: black;
}

.navbar-item-active{
    border-bottom: solid 2px black;
}

.shared-navbar{
    padding: 5px 50px;
    
}
.navbar-hor{
    display: flex;
    
}

.logo-margin{
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 1.25%;
   
}
.logo-size{
    height: 10%;
    width: 10%;
}

@media screen and (max-width: 993px) {
    .shared-navbar{
        background-color: rgb(255, 255, 255, 0.8);
    }
}