<footer class="site-footer">
    <div class="container ">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h6 class="footer-title footer-text">Talk About Us</h6>
          <p class="text-justify footer-about-us footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h6 class="footer-title footer-text">Address</h6>
          <p class="address footer-text">
            Cite Karim <br>
            125 Rue de Paris <br>
            Governorate Aryena <br>
            +216 28 354 511
        </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text footer-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">TRAVLUX</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
