<div class="reservation-succes">
    <div class="text-center" *ngIf="spinning">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    <div class="wrapper" *ngIf="!spinning"> <svg class="animated-check" viewBox="0 0 24 24">
        <path d="M4.1 12.7L9 17.6 20.3 6.3" fill="none" /> </svg>
    </div>
    <h5 class="display-4 msg" *ngIf="!spinning">Your Transaction is completed</h5>
    <img src="/assets/images/airlines/transaction.png" alt="cars" class="center success-image">
</div>
