.prev-next{
    margin-top: 5%;
    align-self: center;
    padding-left: 80%;
    padding-right: 20%;

}

.left{
    border-radius: 0;
    background-color: white;
    /* border-top: #3F1B4B solid 1px ;
    border-left: #3F1B4B solid 1px ;
    border-bottom: #3F1B4B solid 1px ; */
    border-radius: 20px 0px 0px 20px;
    box-shadow: -1px 5px 10px #3f1b4b49;

}

.right{
    border-radius: 0;
    background-color: #D883A2;
    border-radius: 0px 20px 20px 0px;
    box-shadow: -1px 5px 10px #3f1b4b49;
    width: 200px;
    font-weight: bold;
    border: none;

}


@media screen and (max-width: 700px) {
    .prev-next{
        padding-left: 70%;
        padding-right: 30%;
    }
}