<form [formGroup]="flightDetailsForm" (ngSubmit)="onSubmit()">
<div class="big_title" id="section1">
  You are only few steps away from baggage freedom
</div>
<div class="main-form panel panel-default">
  <div class="main-form__section main-form__section--body">
    <h2 class="section-title section-title--tiny section-title--blue">
      <b>Tell us about your flight</b>
      <br>
      <span class="section-title__subline color--text">
        So we know when to check you in
      </span>
    </h2>
    <div class="main-form__row">
      <div class="form-line">
        <div class="input-block  input-block_animated">
          <input type="text" name="departure_airport" autocomplete="off" formControlName="destination">
          <span class="input-block__placeholder">
            Flying to
          </span>
        </div>
      </div>
      <div class="form-line">
        <div class="react-datepicker-wrapper">
          <div class="react-datepicker__input-container">
            <div class="input-block input-block_animated">
              <input type="date" name="departure_date" autocomplete="off"  style="width:21rem" formControlName="dateFlight">
              <span class="input-block__placeholder ">
                What date are you flying out?
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-line time-picker">
        <div class="input-block input-block_animated ">
          <input type="time" name="departure_time"  autocomplete="off" formControlName="timeFlight">
          <span class="input-block__placeholder">
            What time is your flight?
          </span>
        </div>
      </div>
      <div class="form-line airline-picker">
        <div class="text-line">
          With which airline?
        </div>
        <div class="airlines-chooser-wrapper">
          <div class="radio-group radio-group--flights radio-group--blue">
            <!--******************Airline *******************************-->
            <div *ngFor="let air of airlines; index as i; ">
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_{{  i }}" name="airline" value="{{ air.nom }}"
                style="position: relative; top: 20px " formControlName="airline">
              <label for="flights-group_{{ i }}" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <div class="image-wrapper">
                  <img src="/assets/images/airways/{{ air.photo }}">
                </div>
                <span>
                  {{ air.nom }}
                </span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> Tunisair </span>boarding pass and baggage tags
              </div>
            </div>
          </div>

            <!--******************Other*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_7" name="airline" value="custom"
                style="position: relative; top: 20px " formControlName="airline">
              <label for="flights-group_7" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <span>Other</span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> Other </span>boarding pass and baggage tags
              </div>
              <input type="text" class="text-block" value="Airline" formControlName="airline">

            </div>
            <!--*************************************************-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-form__section main-form__section--footer">
    <div class="main-form__row">
      <div class="column">
        <button id="HCIBtnPrevStep1" type="button" class="btn btn-shadow secondary" (click)="previous()" >
          Back
        </button>
      </div>
      <div class="column text-right">
        <button id="HCIBtnNextStep1" type="submit" class="btn btn-shadow primary" >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
</form>
