<div class="services">
    <hr class="services-hr" size="10">
    <p class="services-title">SERVICES</p>
    <p class="services-subtitle">Travel and change of place impart new vigor to the mind.</p>
    <div class="container">
        <div class="row">
        <div class="col-sm service">
            <p class="service-title">Departure Services</p>
            <hr class="service-hr" size="10">
            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed earum voluptatum natus nam nostrum quibusdam, aliquid aut reprehenderit facere. Saepe vero temporibus numquam eaque. Cum tempore fugiat reiciendis deleniti neque!</p>
        </div>
        <div class="col-sm service">
            <p class="service-title">Arrival Services</p>
            <hr class="service-hr" size="10">
            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed earum voluptatum natus nam nostrum quibusdam, aliquid aut reprehenderit facere. Saepe vero temporibus numquam eaque. Cum tempore fugiat reiciendis deleniti neque!</p>
        </div>
        <div class="col-sm service">
            <p class="service-title">Cars Rental</p>
            <hr class="service-hr" size="10">
            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed earum voluptatum natus nam nostrum quibusdam, aliquid aut reprehenderit facere. Saepe vero temporibus numquam eaque. Cum tempore fugiat reiciendis deleniti neque!</p>
        </div>
        </div>
    </div>
</div>