<div class="home-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light inside-home-navbar">
        <img src="/assets/images/logo-dark.png" height="25">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><p class="navbar-item navbar-item-active">HOME</p></a>
            </li>        
            <li class="nav-item">
                <a class="nav-link" href="#"><p class="navbar-item">ABOUT</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><p class="navbar-item">REVIEWS</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><p class="navbar-item">SERVICES</p></a>
            </li>
          </ul>
        </div>
    </nav>
</div>

<div class="btn btn-primary home-navbar-talk-to-us">
  <div class="square"></div>
  <p class="talk-to-us-title">TALK TO US</p>
</div>