.big_title{
  color: #D31F49;
  width: 100%;
  margin-bottom: 3rem;
  font-style: italic;
  font-size: 2.8rem;
  z-index: 10;
  line-height: 1.2em;
  font-family: Gotham-Medium,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
  text-align: center;
}
.section-form .main-form {
  color: #666;
}
.panel.panel-default {
  padding: 3.5rem 3rem;
  box-shadow: 0 0px 12px 5px rgb(0 0 0 / 15%);
  background-color: #fff;
  margin-right: 3%;
  margin-left: 3%;
  font-family: Gotham-Book,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.28;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
div, h2{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: initial;
  background: transparent;
}

.section-form .main-form__section {
  margin-bottom: 6rem;
}
.section-form .section-title {
  width: 100%;
  margin-bottom: 3rem;
}
.section-title--blue {
  color: #843561;
}
.section-title--tiny {
  font-size: 2.4rem;
}
.section-title {
  position: relative;
  z-index: 10;
  line-height: 1.2em;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Gotham-Medium,Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #333;
  font-weight: 400;
}
b, strong {
  font-family: Gotham-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 400;
}
.section-title--tiny .section-title__subline {
  font-size: 1.6rem;
}
.section-title .section-title__subline {
  display: block;
  font-family: Gotham-Book,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}
.color--text {
  color: #666;
}
.form-line {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 2.5rem;
}
.section-form .main-form .text-line {
  font-size: 1.6rem;
  line-height: 1.3em;
  margin-bottom: 1rem;
  font-family: Gotham-Book,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}

.input-block {
  position: relative;
}

.input-block .input-block__placeholder {
  position: absolute;
  left: 1.5rem !important;
  top: 0% !important;
  background-color: #fff !important;
  z-index: 10 !important;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #333;
  padding: 0 0.3rem !important;
  opacity: 1 !important;

}
.form-line .text-line{
  position: absolute;
  left: 1.5rem !important;
  top: -4% !important;
  background-color: #fff !important;
  z-index: 10 !important;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #333;
  padding: 0 0.3rem !important;
  opacity: 1 !important;
}

input:active, input:focus, input:hover {
  outline: 0;
}
.section-form .react-datepicker-wrapper {
  display: block;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.input-block input {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 5rem;
  padding: 1rem 2rem;
  font-family: Gotham-Book,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #333;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  background-color: initial;
  word-break: break-all;
  white-space: nowrap;
  margin-bottom: 1rem;
}


input, select {
  vertical-align: middle;
}
button, input, select, textarea {
  margin: 0;
  outline: none;
}

.input-block .input-block__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  margin-top: -1rem;
  z-index: 100;
  background-color: #fff;
}

.input-block .input-block__icon svg {
  fill: #D31F49;

}
.svg-icon {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  fill: currentColor;
}

*, :after, :before {
  box-sizing: border-box;
  word-break: break-word;
}


.input-block .input-block__placeholder {
  position: absolute;
  left: 2rem;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #333;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.section-form .time-picker>.input-block {
  display: none;
}


.airlines-chooser-wrapper .radio-group {
  display: block;
}
.radio-group {
  width: 100%;
}

.radio-group .form-line {
  width: 100%;
  margin-bottom: 1rem;
}
.radio-group--blue:not(.radio-group--default) .form-line--radio input[type=checkbox]:checked+.label-radio, .radio-group--blue:not(.radio-group--default) .form-line--radio input[type=radio]:checked+.label-radio {
  color: #843561;
  border-color: #843561;
}
.radio-group--blue:not(.radio-group--default) .form-line--radio .label-radio {
  color: #666;
}
.radio-group--blue:not(.radio-group--default) .label-radio {
  background-color: #fff;
  border-color: #9b9b9b;
  color: #843561;
}
.label-radio.label-radio--bg {
  background-repeat: no-repeat;
  background-size: 13rem;
  background-position: calc(100% - 2rem) 50%;
}
.radio-group--flights .label-radio {
  font-size: 1.4rem;
}
.label-radio {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  font-size: 1.6rem;
  line-height: 1.3em;
  font-family: Gotham-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
  cursor: pointer;
  border-radius: 4px;
}
.radio-group--blue:not(.radio-group--default) .label-radio .point-item {
  border-color: #9b9b9b;
}
.label-radio .point-item {
  border-width: 1px;
  width: 2.6rem;
  height: 2.6rem;
  min-width: 2.6rem;
  margin-right: 2rem;
}
.point-item.point-item--square {
  border-radius: 4px;
}
.label-radio span {
  line-height: 1.3em;
}
.point-item {
  display: block;
  position: relative;
  z-index: 50;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 5px solid #000;
  border-radius: 50%;
}

.radio-group--blue:not(.radio-group--default) .form-line--radio input[type=checkbox]:checked+.label-radio .point-item.point-item--square:after, .radio-group--blue:not(.radio-group--default) .form-line--radio input[type=radio]:checked+.label-radio .point-item.point-item--square:after {
  border-color: #843561;
}
.radio-group--blue:not(.radio-group--default) .form-line--radio input[type=checkbox]:checked+.label-radio .point-item:after, .radio-group--blue:not(.radio-group--default) .form-line--radio input[type=radio]:checked+.label-radio .point-item:after {
  content: "";
}
.radio-group--blue:not(.radio-group--default) .label-radio .point-item:after {
  border-color: #843561;
}
.label-radio .point-item:after {
  content: none;
}
.point-item.point-item--square:after {
  width: 70%;
  height: 40%;
  left: 0.3rem;
  top: 0.5rem;
  -webkit-transform: rotate(
-45deg
);
  transform: rotate(
-45deg
);
  border-left: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
}
.point-item:after {
  content: "";
  display: block;
  position: absolute;
}

.label-radio.label-radio--bg .image-wrapper {
  position: absolute;
  right: 2rem;
}

.label-radio.label-radio--bg .image-wrapper img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-height: 3rem;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  img{
    max-width: 50%;
    margin-left: 50% !important;
  }
}

.label-radio span {
  line-height: 1.3em;
}
.radio-group--blue:not(.radio-group--default) .form-line--radio input[type=checkbox]:checked~.text-block, .radio-group--blue:not(.radio-group--default) .form-line--radio input[type=radio]:checked~.text-block {
  display: block;
}
.radio-group .form-line .text-block {
  display: none;
  font-size: 1.4rem;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.airlines-chooser-wrapper .select-block {
  display: none;
}
.select-block {
  position: relative;
  display: block;
  width: 100%;
  height: 5rem;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
}


.select-block .select-block__inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.select-block .select-block__select {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  border: none;
  background-color: initial;
}

select {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
}

.select-block.changed.select-block_animated .select-block__placeholder {
  top: 0;
  font-size: 1.2rem;
  opacity: 1;
}
.select-block.changed .select-block__placeholder {
  opacity: 0;
}
.select-block .select-block__placeholder, .select-block .select-block__value {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #333;
  background-color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.select-block.changed.select-block_animated .select-block__value {
  opacity: 1;
}
.select-block.changed .select-block__value {
  opacity: 1;
}
.select-block .select-block__value {
  opacity: 0;
  -webkit-transition: opacity .4s .2s;
  transition: opacity .4s .2s;
}

.select-block .select-block__icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 2rem;
  height: 2rem;
}
.section-form .main-form__section.main-form__section--footer, .section-form .main-form__section.main-form__section--header {
  margin-bottom: 0;
}
.section-form .main-form__section {
  margin-bottom: 6rem;
}
.section-form .main-form__section.main-form__section--footer .main-form__row {
  display: flex;
}
.section-form .main-form__section.main-form__section--footer .main-form__row .column {
  width: 100%;
  position: relative;
}


.section-form .main-form__section.main-form__section--footer .main-form__row .btn {
    height: 100%;
}
.section-form .main-form .btn {
    width: 100%;
    max-width: 240px;
}
.btn.secondary {
    background-color: #fff;
    border:  solid #3F1B4B;
    color: #3F1B4B;
}
.btn.btn-shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
}
.btn {
    display: inline-block;
    min-width: 18rem;
    padding: 1.6rem 1rem;
    text-align: center;
    vertical-align: top;
    font-family: Gotham-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: initial;
}
button {
    -webkit-transition: color .4s,background .4s;
    transition: color .4s,background .4s;
}
button, input[type=button], input[type=submit] {
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
}
button, input[type=submit] {
    width: auto;
    overflow: visible;
}
button, input, select, textarea {
    margin: 0;
    outline: none;
}
button {
    border: none;
    background-color: initial;
}


button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.section-form .main-form__section.main-form__section--footer .main-form__row .column {
  width: 100%;
  position: relative;
}
.text-right {
  text-align: right;
}

.section-form .main-form__section.main-form__section--footer .main-form__row .btn {
    height: 100%;
}
.section-form .main-form .btn {
    width: 100%;
    max-width: 240px;
}
.btn.primary {
    background-color: #3F1B4B;
}


@media screen and (min-width: 768px){
.custom-mobile-airline-message {
    display: none;
}}

@media screen and (max-width: 1024px)
{.section-form .main-form__section.main-form__section--footer .main-form__row .btn {
    font-size: 1.6rem;
    line-height: 1.3em;
    padding: 1.4rem;
}}

@media screen and (max-width: 1024px){
  .section-form .main-form__section.main-form__section--footer .main-form__row .btn {
    font-size: 1.6rem;
    line-height: 1.3em;
    padding: 1.4rem;
  }
  .big_title{
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 731px){
  .text-right {
    text-align: left;
  }
  button{
    position: relative;
    left:20%;
    margin-bottom: 1rem;
  }
}

