<div class="big_title" id="section1">
  You are only few steps away from baggage freedom
</div>
<div class="main-form panel panel-default">
  <div class="main-form__section main-form__section--body">
    <h2 class="section-title section-title--tiny section-title--blue">
      <b>Tell us about your flight</b>
      <br>
      <span class="section-title__subline color--text">
        So we know when to check you in
      </span>
    </h2>
    <div class="main-form__row">
      <div class="form-line">
        <div class="input-block  input-block_animated">
          <input type="text" name="departure_airport" autocomplete="off" value="">
          <span class="input-block__placeholder">
            Flying to
          </span>
        </div>
      </div>
      <div class="form-line">
        <div class="react-datepicker-wrapper">
          <div class="react-datepicker__input-container">
            <div class="input-block input-block_animated">
              <input type="date" name="departure_date" autocomplete="off"  value="" style="width:21rem" >
              <span class="input-block__placeholder ">
                What date are you flying out?
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-line time-picker">
        <div class="input-block input-block_animated ">
          <input type="time" name="departure_time"  autocomplete="off" value="">
          <span class="input-block__placeholder">
            What time is your flight?
          </span>
        </div>
      </div>
      <div class="form-line airline-picker">
        <div class="text-line">
          With which airline?
        </div>
        <div class="airlines-chooser-wrapper">
          <div class="radio-group radio-group--flights radio-group--blue" >
            <!--******************Airline 1*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_6" name="flights-group" value="tunisair" checked=""  style="position: relative; top: 20px ">
              <label for="flights-group_6" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <div class="image-wrapper">
                  <img src="/assets/images/airways/Tunisair.png">
                </div>
                <span>
                  Tunisair
                </span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> Tunisair </span>boarding pass and baggage tags
              </div>
            </div>
            <!--******************Airline 2*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_0" name="flights-group" value="saudia" style="position: relative; top: 20px ">
              <label for="flights-group_0" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <div class="image-wrapper">
                  <img src="/assets/images/airways/saudia-airlines.png">
                </div>
                <span>
                  SAUDIA
                </span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> SAUDIA </span>boarding pass and baggage tags
              </div>
            </div>
            <!--******************Airline 3*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_1" name="flights-group" value="flydubai" style="position: relative; top: 20px ">
              <label for="flights-group_1" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <div class="image-wrapper">
                  <img src="/assets/images/airways/flydubai.png">
                </div>
                <span>
                  flydubai
                </span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> Flydubai </span>boarding pass and baggage tags
              </div>
            </div>
            <!--******************Airline 4*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_2" name="flights-group" value="kuwait-airways" style="position: relative; top: 20px ">
              <label for="flights-group_2" class="label-radio label-radio--bg"><span class="point-item point-item--square"></span>
                <div class="image-wrapper">
                  <img src="/assets/images/airways/kywaitairways.png">
                </div>
                <span>
                  Kuwait Airways
                </span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> Kuwait Airways </span>boarding pass and baggage tags
              </div>
            </div>
            <!--******************Airline 5*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_3" name="flights-group" value="emirates-airlines-dubz" style="position: relative; top: 20px ">
              <label for="flights-group_3" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <div class="image-wrapper">
                  <img src="/assets/images/airways/EK.png">
                </div>
                <span>
                  Emirates
                </span>
              </label>
              <div class="text-block">
                <p>
                  TRAVLUX will come to your address to collect your bags and load them onto your flight, as well as handover your baggage tags and boarding pass.
                </p>
              </div>
            </div>
            <!--******************Airline 6*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_4" name="flights-group" value="etihad-airline-dubz" style="position: relative; top: 20px ">
              <label for="flights-group_4" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <div class="image-wrapper">
                  <img src="/assets/images/airways/etihad-airways.png">
                </div>
                <span>
                  Etihad Airways
                </span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> Etihad Airways </span>boarding pass and baggage tags
              </div>
            </div>
            <!--******************Other*******************************-->
            <div class="form-line form-line--radio form-line-12">
              <input type="radio" id="flights-group_7" name="flights-group" value="custom" style="position: relative; top: 20px ">
              <label for="flights-group_7" class="label-radio label-radio--bg">
                <span class="point-item point-item--square"></span>
                <span>Other</span>
              </label>
              <div class="text-block">
                TRAVLUX will come to you and hand over your<span> Other </span>boarding pass and baggage tags
              </div>
              <input type="text" class="text-block" value="Airline">

            </div>
            <!--*************************************************-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-form__section main-form__section--footer">
    <div class="main-form__row">
      <div class="column">
        <button id="HCIBtnPrevStep1" type="button" class="btn btn-shadow secondary" (click)="previous()" >
          Back
        </button>
      </div>
      <div class="column text-right">
        <button id="HCIBtnNextStep1" type="button" class="btn btn-shadow primary" (click)="next()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
